In [2]:
import pandas as pd

def load_data(file):
    excel_file = pd.ExcelFile(file)
    return excel_file

excel_file_record = load_data("RECORD.xlsx")
excel_file_data = load_data("SIMULATION.xlsx")
df_record = pd.read_excel(excel_file_record, sheet_name="RECORD")
df_data = pd.read_excel(excel_file_data, sheet_name="Copy of DATA")

In [7]:
df_data

,DATAID,DEPT ID,DEPARTMENT,ITEM DETAILS,ITEM CODE,CURRENT STOCK,UNIT
0,1,1,SPRAY,TP002-DP-3 DIAPGHAM PUMP FOR *,TP002,80,KG
1,2,1,SPRAY,TM001-AIR SANDER SK-2432 FOR *,TM001,10,PC
2,3,4,RND,HR1017-5.0X5.0X110L RH HSS DRILL BITS FOR *,HR1017,20,PC
3,4,1,SPRAY,HH2002-36/40 LAMP BALLAST FOR *,HH2002,30,PC
4,5,1,SPRAY,RP025-309 WOOD FILLER CAPPUCCINO 3959 FOR *,RP025,0,LTS
...,...,...,...,...,...,...,...
511,512,5,PACKING,WS007-535 MM X 450 MM X 6 MM CLEAR GLASS WITH ...,WS007,0,PC
512,513,5,SPONGE,TEST,TEST01,1,KG
513,515,4,RND,MEH,MEH01,0,UNIT
514,516,6,BOTTLE,MEH,MEH03,1,UNIT
515,516,6,BOTTLE,TEST,TEST04,10,KGS

In [9]:
import plotly.express as px

tag = df_data.groupby(by=["DEPARTMENT"]).count()[["ITEM DETAILS"]].sort_values(by="ITEM DETAILS")

tag2 = tag.rename(columns={'ITEM DETAILS':'Count'})

In [11]:
tag2

            Count
DEPARTMENT
BOTTLE          2
RND             3
PACKING        34
SPONGE         95
SEWING        165
SPRAY         217

In [9]:
y = x['DEPARTMENT']

value_dept = []
index=0
for z in y:
    index+=1
    value_dept.append(z)

value_dept

['BOTTLE', 'PACKING', 'RND', 'SEWING', 'SPONGE', 'SPRAY']

In [10]:
y = x['ITEM DETAILS']

value_count = []
index=0
for z in y:
    index+=1
    value_count.append(z)

value_count

[2, 34, 3, 165, 95, 217]

In [68]:
value_dept = []
index=0
for z in y:
    index+=1
    value_dept.append(z)
value_dept
    
value_count = []
index_2=0
for zz in yy:
    index_2+=1
    value_count.append(zz)
value_count

plt.bar(value_dept,value_count)
plt.show()

NameError: name 'yy' is not defined

In [67]:
df = pd.DataFrame({'lab':['A', 'B', 'C'], 'val':[10, 30, 20]})
ax = df.plot.bar(x='lab', y='val', rot=0)

KeyError: "None of [Index(['BOTTLE', 'PACKING', 'RND', 'SEWING', 'SPONGE', 'SPRAY', 2, 34, 3, 165,\n       95, 217],\n      dtype='object')] are in the [columns]"

In [3]:

import pandas as pd
import numpy as np

chart_data = pd.DataFrame(np.random.randn(20, 3), columns=["a", "b", "c"])
chart_data

           a         b         c
0  -0.422781 -0.889386 -0.816338
1  -0.096321  0.346382  0.416052
2  -0.701269 -0.203334 -0.441046
3   0.722515  1.175940  1.237391
4   0.557520 -1.722538  1.362130
5  -0.299292 -0.426766 -0.190904
6  -1.546162  0.252066 -0.792285
7   2.018062  0.688187  0.832382
8   1.259951  0.240896 -0.993647
9   2.001689 -0.078465 -0.156872
10  0.604690 -0.786304  0.272710
11 -0.963399 -1.216262  0.492153
12  0.410644  0.244074  0.487836
13 -1.888094 -0.567947 -0.718633
14 -1.611206 -2.062182 -2.090282
15 -0.341233 -0.024878  0.426860
16 -0.654531 -1.891090  1.600651
17  1.162172 -0.803300 -0.898379
18 -1.729242 -0.024417  0.218753
19  0.164789  0.338987 -1.807373

In [11]:
value_dept

['BOTTLE', 'PACKING', 'RND', 'SEWING', 'SPONGE', 'SPRAY']

In [12]:
value_count

[2, 34, 3, 165, 95, 217]

In [20]:
test = np.array([value_dept, value_count])
test

array([['BOTTLE', 'PACKING', 'RND', 'SEWING', 'SPONGE', 'SPRAY'],
       ['2', '34', '3', '165', '95', '217']], dtype='<U11')

In [19]:
count_data = pd.DataFrame(value_count)
count_data

     0
0    2
1   34
2    3
3  165
4   95
5  217

In [19]:
df_record

,RECORD ID,TIMESTAMP,DEPT ID,DATAID,USED BY DEPARTMENT,ITEM DETAILS,ITEM CODE,CURRENT STOCK,IN QTY,OUT QTY,IMAGE,REMARK PI NUMBER
0,122a962e,2024-01-15 13:28:23.000,1,282ffcd5,4,TM001-AIR SANDER SK-2432 FOR *,TM001,10,NaN,NaN,RECORD_Images/122a962e1.IMAGE.052844.png,5.0
1,64f5c645,2024-01-15 14:30:34.000,1,22ccf649,3,HH2002-36/40 LAMP BALLAST FOR *,HH2002,0,1.0,NaN,RECORD_Images/64f5c6451.IMAGE.063146.jpg,NaN
2,hw78t904,2024-01-27 17:24:00.136,2,hw78t904,5,RS214-SPONGE HR-38-3''X42''X75'' FOR *,RS214,0,15.0,0.0,NaN,NaN
3,bxpo928o,2024-01-27 17:25:47.843,1,p8g8a977,1,"WL010-WOODEN FRAME LEG - H : 6 2/8"" X 30 6/8"" ...",WL010,0,20.0,0.0,NaN,NaN
4,wh4kklpx,2024-01-27 17:32:34.701,1,3lu35dof,5,HH2002-36/40 LAMP BALLAST FOR *,HH2002,30,0.0,5.0,NaN,NaN
5,bewqj1g6,2024-01-27 17:38:56.792,1,yzcxxt6m,5,RP002-NC SEALER 241 FOR *,RP002,0,10.0,0.0,NaN,NaN
6,p81bgqwm,2024-01-27 17:43:12.251,1,3q3y9if4,1,RP014-NC MATT 2247-120 FOR *,RP014,0,9.0,0.0,NaN,NaN
7,j31pbtfa,2024-01-27 17:46:45.278,1,kmreskiz,5,WD005-WOODEN LEG - H : 77MM X L : 60MM FOR *,WD005,0,3.0,0.0,NaN,NaN
8,9c3lgiq0,2024-01-27 18:23:24.929,1,jcf5p2um,6,TP002-DP-3 DIAPGHAM PUMP FOR *,TP002,90,0.0,10.0,NaN,NaN